.editor {
  background-color: beige;
  position: relative;
  overflow: auto;
  height: calc(100% - 2rem);
  width: calc(100% - 0rem);
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  // column-gap: 10px;
  // gap: 10px;
  // .editor-save-btn {
  //   right: 10px;
  //   padding: 10px 10px;
  //   border-radius: 10px;
  //   border: none;
  //   position: fixed;
  //   &:hover {
  //     background-color: #aaa;
  //     cursor: pointer;
  //   }
  // }
  // .editable-content {
  //   // border-left: 1px solid #000;
  //   min-height: 100%;
  //   background-color: beige;
  //   display: flex;
  //   flex-direction: column;
  //   // column-gap: 4px;
  //   row-gap: 4px;
    
  // }
}
