.settings {
  display: flex;
  height: 100%;
  background: #0f1115;
  color: #eaeaea;
  .settings__title {
    margin-bottom: 16px;
    font-size: 1.2rem;
  }
  .settings__sidebar {
    width: 240px;
    border-right: 1px solid #222;
    padding: 16px;
    nav button {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 6px;
      background: none;
      border: none;
      color: #aaa;
      text-align: left;
      cursor: pointer;
      &.active {
       background: #1b1f2a;
       color: #fff;
      }
    }
  }
  .settings__panel {
    flex: 1;
    padding: 24px;
  }
}