nav#Navbar {
  background-color: aquamarine;
  padding: 20px 10px 20px;
  height: calc(100% - 40px);
  width: 20%;
  div#search {
    padding: 4px 10px;
    border-radius: 10px;
    background-color: aqua;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    gap: 10px;
    > input#Navbar-Search {
      height: 20px;
      background: transparent;
      width: 80%;
      outline: none;
      border: none;
    }
  }
  > h4 {
    font-family: sans-serif;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    gap: 10px;
    > .icon {
      font-weight: 600;
      height: 22px;
      width: 22px;
      cursor: pointer;
    }
  }
  //   h4.notification {

  //   }
  //   h4.settings {

  //   }
  div.line {
    margin: 8px 0 8px;
    height: 0.5px;
    background: grey;
  }
  ul {
    h4 {
      font-family: sans-serif;
      cursor: pointer;
      font-size: 20px;
      font-weight: 600;
      margin: 10px 0 0 0;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
