nav#navbar {
   width: 240px;   // perfect desktop sidebar size
  min-width: 240px;
  flex-shrink: 0;
  height: calc(100% - 32px);
  padding: 16px 0;

  display: flex;
  justify-content: center;
  background-color: #2A2F33;

  // background: linear-gradient(
  //   180deg,
  //   rgb(0, 0, 0) 0%,
  //   rgb(0, 0, 0) 50%,
  //   rgb(0, 0, 0) 100%
  // );

  box-shadow: 4px 0 24px rgba(255, 255, 255, 0.1);


  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    margin: 0;


    li {
      list-style: none;
      height: 20px;
      width: 150px;
      padding: 12px 12px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      background-color: #2F353A;

      border-radius: 16px;
      cursor: pointer;

      opacity: 1;
      // transition:
      //   background 0.25s ease,
      //   opacity 0.25s ease,
      //   transform 0.15s ease,
      //   box-shadow 0.25s ease;

      transition: all 0.2s ease;

      svg {
        margin-top: 6px;
        width: 25px;
        height: 25px;
        transition: transform 0.25s ease;
        
      }

      h6 {
        text-align: center;
        margin-top: 0;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #C4CDD3;
        opacity: 0.95;
        user-select: none;
        
      }

      &:hover {
        opacity: 0.9;
        background: #3A4146;

        svg {
          transform: translateY(-1px);
        }
      }

      &:active {
        transform: scale(0.96);
        transform: translateX(5px);
      }

      &.active {
        background: #FFFFFF;
        opacity: 1;

        box-shadow:
          0 8px 24px rgba(0, 0, 0, 0.18),
          0 2px 8px rgba(0, 0, 0, 0.08);

        svg {
          transform: scale(1.05);
        }

        h6 {
          color: #0AA3AF;
          font-weight: 600;
          opacity: 1;
        }
      }
    }
  }
}
